* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: {{sans_font_family}};
    font-size: 16px;
    min-height: 28px;
}

window#waybar {
    background-color: {{base01}};
    border-bottom: 0px solid {{base02}};
    color: {{base04}};
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/* TODO: this was not a comment
window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}
*/

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: {{base06}};
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px {{base03}};
}

#workspaces button.persistent {
    background-color: {{base01}};
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: {{base00}};
    box-shadow: inset 0 -3px {{base05}};
}

#workspaces button.focused {
    color: {{base07}};
    background-color: {{base02}};
    box-shadow: inset 0 -3px {{base0B}};
}

#workspaces button.urgent {
    background-color: {{base08}};
}

#mode {
    background-color: {{base01}};
    box-shadow: inset 0 -3px {{base09}};
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: {{base00}};
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: {{base07}};
}

#battery {
    background-color: {{base07}};
}

#battery.charging {
    background-color: {{base0B}};
}

@keyframes blink {
    to {
        background-color: {{base06}};
        color: {{base00}};
    }
}

#battery.critical:not(.charging) {
    background-color: {{base08}};
    color: {{base07}};
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: {{base00}};
}

#cpu {
    background-color: {{base0B}};
    color: {{base00}};
}

#memory {
    background-color: {{base0E}};
}

#backlight {
    background-color: {{base0C}};
}

#network {
    background-color: {{base0D}};
    color: {{base00}}
}

#network.disconnected {
    background-color: {{base08}};
}

#pulseaudio {
    background-color: {{base0A}};
}

#pulseaudio.muted {
    background-color: {{base03}};
}

#custom-media {
    background-color: {{base0B}};
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: {{base0B}};
}

#custom-media.custom-vlc {
    background-color: {{base09}};
}

#temperature {
    background-color: {{base0A}};
}

#temperature.critical {
    background-color: {{base08}};
}

#tray {
    background-color: {{base0C}};
}

#idle_inhibitor {
    background-color: {{base01}};
    color: {{base06}}
}

#idle_inhibitor.activated {
    background-color: {{base07}};
    color: {{base00}};
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: {{base0B}};
    color: {{base00}};
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}
